<div class="section contact-container" id="contact-me">
  <h2>Get In Touch</h2>
  <p>If you'd like to collaborate or just want to say hi, feel free to drop me a message.</p>

  <div class="social-icons">
    <a href="https://www.linkedin.com/in/suprabha-kumari-47a701198/" target="_blank"><i
        class="fab fa-linkedin"></i></a>
    <a href="https://github.com/skumari21" target="_blank"><i class="fab fa-github"></i></a>
    <a
      href="mailto:suprabhasinha2112@gmail.com?subject=Portfolio Inquiry&amp;body=Hi Suprabha, I came across your portfolio and would like to connect.">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</div>