<section class="navbar">
  <nav>
    <img src="../../assets/images/logowhitebg.png" alt="suprabha" class="logo" />
    <div class="hamburger" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links" [class.open]="isMobileMenuOpen">
      <li><a href="#about-me">About Me</a></li>
      <li><a href="#my-skills">Skills</a></li>
      <li><a href="#my-work">Personal Projects</a></li>
      <li><a (click)="openCerts(); $event.preventDefault()" href="#">Certificates</a></li>
      <li><a href="#contact-me">Contact me</a></li>
    </ul>
    <app-certificates [open]="showCerts" (onClose)="closeCerts()"></app-certificates>
  </nav>
</section>
