.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  color: #1E1E1E;

}

.hero-left {
  text-align: left;
  max-width: 600px;
}

.intro {
  font-size: 1.25rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 0.5rem;
}

.name {
  font-size: 1.25rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 0.5rem;
}

.name {
  font-size: 3.5rem;
  font-weight: 700;
  color: #E63946;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
}

.hero-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    text-align: center;
    padding: 2rem 1rem;
  }

  .hero-left {
    max-width: 100%;
  }

  .name {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .hero-actions {
    justify-content: center;
  }
}