<section>
    <div class="section hero">
      <div class="hero-left">
        <p class="intro">Hi, I’m</p>
        <h1 class="name">Suprabha Kumari</h1>
        <h2 class="subtitle">&nbsp;IT Consultant & Software Engineer</h2>
  
        <div class="hero-actions">
          <button class="universal-btn" download (click)="download()">
            <i class="fa fa-download"></i> Download CV
          </button>
          <button class="universal-btn" (click)="scrollToSection('about-me')">
            More about me →
          </button>
        </div>
      </div>
    </div>
  </section>
  