<div class="section modal-backdrop" *ngIf="open">
  <div class="modal-content">
    <button class="close-btn" (click)="close()">×</button>
    <!-- <h2 class="section-title">Certifications</h2> -->
    <p class="section-subtitle">A curated selection of achievements and learning milestones.</p>
    <div *ngIf="!showSlideshow" class="certs-grid">
      <div *ngFor="let cert of certificates; let i = index" class="cert-card min-w-[150px]" (click)="openSlideshow(i)">
        <!-- <img [src]="cert.thumbnail" alt="Certificate {{ i + 1 }}" />
          -->
        <div class="cert-card" (click)="openSlideshow(i)">
          <img [src]="cert.thumbnail" alt="Certificate {{ i + 1 }}" />
          <div class="zoom-overlay">🔍</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSlideshow" class="slideshow-backdrop">
  <div class="certificates-panel">
    <img [src]="certificates[currentIndex].full" class="certificate-image" />
    <div class="flex gap-4">
      <button (click)="prev()" class="secondary-btn" style="margin-right:5px;">← Prev</button>
      <button (click)="next()" class="secondary-btn" style="margin-right:5px;">Next →</button>
      <button (click)="closeSlideshow()" class="secondary-btn">Back to Gallery</button>
    </div>
  </div>
</div>