.project-card {
  background-color: #ffffff;
  /* Darker card background */
  color: #1E1E1E;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: left;
  border: 1px solid #E63946;
  box-shadow: 0 0 10px #D62828;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card h3 {
  color: #E63946;
  margin-bottom: 10px;
}

.project-card .description {
  line-height: 1.5;
}

a {
  color: #457B9D;
  word-wrap: normal;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px #E63946;
  transition: all 0.3s ease;
}

.project-card a {
  display: block;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
    margin-bottom: 2rem;
  }
}