.project-card {
  background-color: #444;
  /* Darker card background */
  color: #d0d0d0;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: left;
  border: 1px solid #ff5e57;
  box-shadow: 0 0 10px rgb(255, 94, 87);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

.project-card .description {
  line-height: 1.5;
}

a {
  color: #ff5e57;
  word-wrap: normal;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px #ff5e57;
  transition: all 0.3s ease;
}

.project-card a {
  display: block;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
    margin-bottom: 2rem;
  }
}