<div class="section my-work" id="my-work">
    <h2>Personal Projects</h2>
    <div class="projects">
        <app-project-card title="GTM Strategy for EBRO e-van launch" description={{ebroDescription}}
            problemStatement={{ebroProblemStatement}} solution={{ebroSolution}} projectLabel={{ebroProjectLabel}}
            solutionLabel={{ebroSolutionLabel}} role={{ebroRole}} tools={{ebroTools}} outcome={{ebroOutcome}}>
        </app-project-card>

        <!-- <app-project-card title="Business Proposol for Feedback Analyser InsightLens" description={{BPdesc}}
            problemStatement={{BPProblemStatement}} solution={{BPSolution}} projectLabel={{BPProjectLabel}}
            solutionLabel={{BPSolutionLabel}} role={{BPRole}} tools={{BPTechStack}}
            outcome={{BPoutcome}}></app-project-card> -->

        <!-- <app-project-card title="Case Study Analysis for Ecovision" description={{ecovision}}
            problemStatement={{ecovisionProblemStatement}} solution={{ecovisionSolution}} projectLabel={{projectLabel}}
            solutionLabel={{solutionLabel}} role={{ecovisionRole}} tools={{ecovisionTools}}
            outcome={{ecovisionOutcome}}>
        </app-project-card> -->
    </div>
</div>