.skills-wrapper {
  padding: 40px 20px;
  color: #1E1E1E;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 2px solid #DDDDDD;
    padding-bottom: 0.5rem;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 30px 15px;

    h2 {
      font-size: 1.6rem;
    }

    .skills-container {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    padding: 20px 10px;

    h2 {
      font-size: 1.4rem;
    }

    .skills-container {
      gap: 1rem;
    }
  }
}

.details {
  margin: 15px 200px;
  font-family: Arial, sans-serif;
  color: #333;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color:#444;
  color: white;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid black;
  transition: background-color 0.3s;
}

.tag:hover {
  background-color: #D62828;
  border: 1px solid #D62828;
  cursor: pointer;
}
