/* You can add global styles to this file, and also import other style files */
body,
html {
    background-color: #F9F9F9;
    color: #f0f0f0;
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

div,
span {
    font-family: 'Open Sans', sans-serif;
}

a,
button {
    font-family: Verdana, sans-serif;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.universal-btn {
    background: #E63946;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .universal-btn:hover {
    background: #d12f3c;
  }

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 12px 16px;
    background-color: #E63946;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 12px #D62828;
    transition: all 0.3s ease;
    z-index: 999;

    &:hover {
        background-color: #fff;
        color: #444;
        transform: scale(1.1);
    }
}